<div class="form-group">
    <label>{{localize 'DND4E.HitPoints'}}</label>
    <div class="form-fields">
        <input type="text" name="data.hp.value" value="{{data.hp.value}}"
               placeholder="0" data-dtype="Number">
        <span class="sep">&sol;</span>
        <input type="text" name="data.hp.max" value="{{data.hp.max}}" placeholder="0"
               data-dtype="Number">
        <input type="text" name="data.hp.dt" value="{{data.hp.dt}}" data-dtype="Number"
               placeholder="{{localize 'DND4E.Threshold'}}">
    </div>
</div>

<div class="form-group">
    <label>{{localize 'DND4E.HealthConditions'}}</label>
    <div class="form-fields">
        <input type="text" name="data.hp.conditions" value="{{data.hp.conditions}}">
    </div>
</div>
