<form id="ability-use-form">
    <p>{{ title }}</p>
    <p class="notes">{{note}}</p>
    {{#each errors}}
    <p class="notification error">{{localize this}}</p>
    {{/each}}

    {{#if hasSpellSlots}}
    <div class="form-group">
        <label>{{ localize "DND4E.SpellCastUpcast" }}</label>
        <div class="form-fields">
            <select name="level" {{#unless canUpcast}}disabled{{/unless}}>
                {{#select item.data.level}}
                {{#each spellLevels as |l|}}
                <option value="{{l.level}}" {{#unless l.canCast}}disabled{{/unless}}>{{l.label}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    {{#if canUpcast}}
    <div class="form-group">
        <label class="checkbox"><input type="checkbox" name="consumeSlot" checked/>{{ localize "DND4E.SpellCastConsume" }}</label>
    </div>
    {{/if}}
    {{/if}}

    {{#if hasLimitedUses}}
    <div class="form-group">
        <label class="checkbox"><input type="checkbox" name="consumeUse" checked/>{{ localize "DND4E.AbilityUseConsume" }}</label>
    </div>
    {{/if}}

    {{#if hasPlaceableTemplate}}
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="placeTemplate" checked/>
            {{ localize "DND4E.PlaceTemplate" }}
        </label>
    </div>
    {{/if}}
</form>
