<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DND4E.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    <input type="text" name="data.rarity" value="{{data.rarity}}" placeholder="{{ localize 'DND4E.Rarity' }}"/>
                </li>
                <li>
                    <input type="text" name="data.source" value="{{data.source}}" placeholder="{{ localize 'DND4E.Source' }}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "DND4E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "DND4E.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/dnd4e/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            {{!-- Tool Proficiency --}}
            <div class="form-group">
                <label>{{ localize "DND4E.ItemToolProficiency" }}</label>
                 <select name="data.proficient" data-dtype="Number">
                     {{#select data.proficient}}
                     {{#each config.proficiencyLevels as |label p|}}
                     <option value="{{p}}">{{label}}</option>
                     {{/each}}
                     {{/select}}
                 </select>
            </div>

            {{!-- Ability Check --}}
            <div class="form-group">
                <label>{{ localize "DND4E.DefaultAbilityCheck" }}</label>
                <select name="data.ability">
                    {{#select data.ability}}
                    {{#each config.abilities as |name a|}}
                    <option value="{{a}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Chat Message Flavor --}}
            <div class="form-group stacked">
                <label>{{ localize "DND4E.ChatFlavor" }}</label>
                <input type="text" name="data.chatFlavor" value="{{data.chatFlavor}}"/>
            </div>
        </div>
    </section>
</form>
